Node -Red Flows/Sensor Reading with MQTT and Dispalyflow.json
[
    {
        "id": "28542c0a27e1d023",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c964b5deb8bcf13e",
        "type": "mqtt in",
        "z": "28542c0a27e1d023",
        "name": "Hum",
        "topic": "dht11/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1de95e50ea75a26f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "fbbb16cdaf6231ec",
                "7902f9fb5f079a44",
                "940496d92b99fbeb"
            ]
        ]
    },
    {
        "id": "fbbb16cdaf6231ec",
        "type": "debug",
        "z": "28542c0a27e1d023",
        "name": "hum debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 40,
        "wires": []
    },
    {
        "id": "7902f9fb5f079a44",
        "type": "ui_gauge",
        "z": "28542c0a27e1d023",
        "name": "Hum",
        "group": "a77bd1c99dafc1f9",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ce3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "42d90a14df4b16cd",
        "type": "mqtt in",
        "z": "28542c0a27e1d023",
        "name": "HI",
        "topic": "dht11/heatindex",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1de95e50ea75a26f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "c5f409ead7806152",
                "3b6473c28a5ecfc0",
                "e93235b58a6dd313"
            ]
        ]
    },
    {
        "id": "c5f409ead7806152",
        "type": "debug",
        "z": "28542c0a27e1d023",
        "name": "HI debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b6473c28a5ecfc0",
        "type": "ui_gauge",
        "z": "28542c0a27e1d023",
        "name": "HI",
        "group": "59d0143801a4e073",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "HI",
        "label": "",
        "format": "{{value}}",
        "min": "75",
        "max": "135",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80 103 124 125",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "d3364d5034e47de0",
        "type": "mqtt in",
        "z": "28542c0a27e1d023",
        "name": "Cel",
        "topic": "dht11/celcius",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1de95e50ea75a26f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "770e9c106e07a5a7",
                "0bca27b6f4a3dd19",
                "69cf34ee7fc2387b"
            ]
        ]
    },
    {
        "id": "770e9c106e07a5a7",
        "type": "debug",
        "z": "28542c0a27e1d023",
        "name": "Cel debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "be146b0b6fabdc34",
        "type": "mqtt in",
        "z": "28542c0a27e1d023",
        "name": "",
        "topic": "dht11/heatCategory",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1de95e50ea75a26f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "82a8cb79f64e2255",
                "4b102a7d06a5b6f7"
            ]
        ]
    },
    {
        "id": "82a8cb79f64e2255",
        "type": "debug",
        "z": "28542c0a27e1d023",
        "name": "Heat Category Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6417561fd602d07",
        "type": "ui_text",
        "z": "28542c0a27e1d023",
        "group": "59d0143801a4e073",
        "order": 3,
        "width": 8,
        "height": 4,
        "name": "Heat Level Description",
        "label": "{{msg.payload.heatCategory}}",
        "format": "{{msg.payload.description}}",
        "layout": "col-center",
        "className": "",
        "x": 1600,
        "y": 580,
        "wires": []
    },
    {
        "id": "4b102a7d06a5b6f7",
        "type": "function",
        "z": "28542c0a27e1d023",
        "name": "Heat Level Category Cal",
        "func": "const heatCategory = msg.payload;\nlet description;\n\nnode.log(heatCategory);\n\nif (heatCategory === \"Normal\") {\n    description = \"Enjoy the pleasant weather today! It's a great time to be outdoors and engage in your favorite activities. \" \n} else if (heatCategory === \"Caution\") {\n    description = \"Caution - Heat cramps and heat exhaustion are possible with prolonged exposure and activity.It is recommended to stay hydrated, wear lightweight and light - colored clothing, and take frequent breaks in cool, shaded areas.\"\n} else if (heatCategory === \"Extreme Caution\") {\n    description = \"Extreme Caution - Heat exhaustion and heat stroke are possible with prolonged exposure and activity. It is recommended to avoid outdoor activities during the hottest parts of the day, wear loose-fitting and lightweight clothing, and stay hydrated with water and electrolyte-rich beverages.\"\n} else if (heatCategory === \"Danger\") {\n    description = \"Heat stroke is highly likely with prolonged exposure and activity. It is recommended to stay indoors in air-conditioned environments or seek out cool, shaded areas, wear loose-fitting and lightweight clothing, and stay hydrated with water and electrolyte-rich beverages.\"\n} else if (heatCategory === \"Extreme Danger\") {\n    description = \"Heat stroke is imminent with prolonged exposure and activity. Immediate action is required to seek out air-conditioned environments or cool, shaded areas, remove excess clothing, and seek medical attention if symptoms of heat stroke are present.\" \n}\n\nmsg.payload = { description, heatCategory} ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 580,
        "wires": [
            [
                "f6417561fd602d07"
            ]
        ]
    },
    {
        "id": "0bca27b6f4a3dd19",
        "type": "ui_gauge",
        "z": "28542c0a27e1d023",
        "name": "Cel",
        "group": "ca007c3c9658b012",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Celcius",
        "label": "",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "69cf34ee7fc2387b",
        "type": "ui_chart",
        "z": "28542c0a27e1d023",
        "name": "Temperature Chart",
        "group": "ca007c3c9658b012",
        "order": 2,
        "width": 5,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "940496d92b99fbeb",
        "type": "ui_chart",
        "z": "28542c0a27e1d023",
        "name": "Humidity Chart",
        "group": "a77bd1c99dafc1f9",
        "order": 2,
        "width": 5,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#05eb14",
            "#05eb14",
            "#05eb14",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e93235b58a6dd313",
        "type": "ui_chart",
        "z": "28542c0a27e1d023",
        "name": "Heat Index Chart",
        "group": "59d0143801a4e073",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Heat Index Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114",
            "#05e114"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1de95e50ea75a26f",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "5",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a77bd1c99dafc1f9",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6cb9ca3bae2e45fc",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "59d0143801a4e073",
        "type": "ui_group",
        "name": "Heat Index",
        "tab": "6cb9ca3bae2e45fc",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca007c3c9658b012",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6cb9ca3bae2e45fc",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cb9ca3bae2e45fc",
        "type": "ui_tab",
        "name": "RH & Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]